/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Inter:wght@400;500;700&family=Lora:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-size: 62.5%;
    }

    .home {
        padding: 2.4rem;
        height: 100vh;
        overflow: auto;
    }

    /* @Media screen breakpoint */ 
    /* Tablets */
    @media screen and (min-width: 767px) {
        .home {
            padding-inline: 5.9rem;
            padding-top: 5.8rem;
            padding-bottom: 5.8rem;
        }
        /* .lora h1 {
            font-size: 6.4rem;
            line-height: 7.7rem;
            font-weight: 700;
        } */
    }

    /* In between desktop and tablet */
    @media screen and (min-width: 1100px) {
        .home {
            padding-inline: 20.9rem;
            padding-top: 5.8rem;
            padding-bottom: 5.8rem;
        }
    }

    /* Desktops and larger screens*/
    @media screen and (min-width: 1400px) {
        .home {
            padding-inline: 35.1rem;
        padding-top: 5.8rem;
        padding-bottom: 5.8rem;
        }
    }
   

    /* Inter typography*/
    .inter {
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    
    
    .inter h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    .inter .small {
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 400;
    }

    .inter input {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
    }

    /* Lora Typography */
    .lora {
        font-family: 'Lora', serif;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    
    .lora h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 400;
    }

    .lora .small {
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 400;
    }
    .lora input {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
    }

    /* Inconsolata */
    .inconsolata {
        font-family: 'Inconsolata', monospace;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    
    .inconsolata h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    .inconsolata .small {
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 400;
    }

    .inconsolata input {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
    }
    
    .shadow-menu {
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.37);
-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.37);
    }
    .shadow-menu-dark {
        box-shadow: 0px 0px 20px 9px rgba(164,69,237,0.37);
-webkit-box-shadow: 0px 0px 20px 9px rgba(164,69,237,0.37);
-moz-box-shadow: 0px 0px 20px 9px rgba(164,69,237,0.37);
    }
}

@layer components {
    .h1 {
        @apply text-[3.2rem] md:text-[6.4rem] font-[700] md:leading-[7.7rem]
    }
    .h2 {
        @apply text-[1.8rem] md:text-[2.4rem]   font-[500]
    }
}